---
layout: default
title: Home
---


  
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>About Me</h4>
  <p>
    I am currently a 2-nd year Ph.D. student in the <a href="https://engineering.tamu.edu/cse/index.html" target="_blank">Department of Computer Science and Engineering</a> at <a href="https://www.tamu.edu" target="_blank">Texas A&M University</a>. I am working at the <a href="http://faculty.cs.tamu.edu/xiahu/people.html" target="_blank">DATA Lab</a> under the supervision of Prof. <a href="http://faculty.cs.tamu.edu/xiahu/index.html" target="_blank">Xia (Ben) Hu</a>. My research interests lie in the general area of data mining and machine learning.
  </p>

</div>

<!-- ========== NEWS ========== -->
<!-- <div class="docs-section" id="news">
    <h4>News</h4>
    
    <ul>
      {% for nw in site.data.news.news %}
      <div class="row"><div class="twop columns"><b>{{ nw.date }}</b></div> <div class="ten columns">{{ nw.title }} <i>{{ nw.subtitle }}</i></div></div>
      {% endfor %}
    </ul>
      
  </div> -->


<!-- ========== Education========== -->
<div class="docs-section" id="education">
    <h4>Educations</h4>
        {% for education in site.data.education.educations %}
          <div class="paper">
            <p class="title"><b>{{ education.place }} <b style="float:right;">{{ education.time }} </b></b></p>
            <p>{{ education.title }}, {{ education.subtitle }}</p>
            <p>{{ education.dsc }}</p>

          </div>
        {% endfor %}
  </div>
  
         
<!-- ========== Experience========== -->
<div class="docs-section" id="experience">
    <h4>Experiences</h4>
        {% for experience in site.data.experience.experiences %}
          <div class="paper">
            <p class="title"><b>{{ experience.place }} <b style="float:right;">{{ experience.time }} </b></b></p>
            
            <p>{{ experience.title }}, {{ experience.subtitle }}</p>
            <p>{{ experience.dsc }}</p>

          </div>
        {% endfor %}
  </div>


          
<!-- ========== PUBLICATIONS ========== -->
  <!-- 
<div class="docs-section" id="publications">
  <h4>Publications</h4>
  -->

  <!-- <p>Complete list of publications on <a href="https://bit.ly/ADSWright" target="_blank">NASA ADS</a>.</p> -->
  
  <!-- 
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            
            {% if paper.UKSPNg %}
              <a class="button" href="{{ paper.UKSPNg | prepend: site.baseurl }}" target="_blank">UKSP Nugget</a>
            {% endif %}

            {% if paper.blogpost %}
              <a class="button" href="{{ paper.blogpost | prepend: site.baseurl }}" target="_blank">Blog post</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.notebook %}
              <a class="button" href="{{ paper.notebook }}" target="_blank">Python Notebook</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all"> -->
        <!-- 
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}
            
            {% if paper.code %}
              <a class="button" href="{{ paper.code | prepend: site.baseurl }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            
            {% if paper.UKSPNg %}
              <a class="button" href="{{ paper.UKSPNg | prepend: site.baseurl }}" target="_blank">UKSP Nugget</a>
            {% endif %}

            {% if paper.blogpost %}
              <a class="button" href="{{ paper.blogpost | prepend: site.baseurl }}" target="_blank">Blog post</a>
            {% endif %}
            
            {% if paper.pressrel %}
              <a class="button" href="{{ paper.pressrel | prepend: site.baseurl }}" target="_blank">Press Coverage</a>
            {% endif %}
            
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.notebook %}
              <a class="button" href="{{ paper.notebook }}" target="_blank">Python Notebook</a>
            {% endif %}
             
            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}-->
<!--    </div>
  </div> -->
  <!-- 
</div>
-->


          
<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
    <h4>Publications</h4>
        {% for paper in site.data.publications.papers %}
          <div class="paper">
            <p class="title"><a href="{{ paper.paper_pdf }}" target="_blank"><b>{{ paper.title }}</b></a></p>
            
            <p>{{ paper.authors }}</p>
            <p><i>{{ paper.venue }}</i></p>
             <div class="paper-buttons">
              <!-- {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
              {% endif %} -->
              {% if paper.code %}
                <a class="button" href="{{ paper.code | prepend: site.baseurl }}" target="_blank">Code</a>
              {% endif %}
  
              {% if paper.slides %}
                <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
              {% endif %}
  
              {% if paper.poster %}
                <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
              {% endif %}
              
              {% if paper.UKSPNg %}
                <a class="button" href="{{ paper.UKSPNg | prepend: site.baseurl }}" target="_blank">UKSP Nugget</a>
              {% endif %}
  
              {% if paper.blogpost %}
                <a class="button" href="{{ paper.blogpost | prepend: site.baseurl }}" target="_blank">Blog post</a>
              {% endif %}
              
              {% if paper.pressrel %}
                <a class="button" href="{{ paper.pressrel | prepend: site.baseurl }}" target="_blank">Press Coverage</a>
              {% endif %}
              
              {% if paper.video %}
                <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
              {% endif %}
  
              {% if paper.notebook %}
                <a class="button" href="{{ paper.notebook }}" target="_blank">Python Notebook</a>
              {% endif %}
               
              {% if paper.data %}
                <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
  </div>





<!-- ========== PROJECTS ========== -->
<!-- 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
 -->




<!-- ========== cv ==========
<div class="docs-section" id="resume">
    <h4>Curriculum Vitae</h4> 
      <p>1 page CV is available <a href="http://bit.ly/ResWright" target="_blank">here</a>.</p>

    <ul class="timeline">
      {% for exp in site.data.experience.experiences %}
      <li>
        {% if exp.category == "work" %}
        <div class="direction-l">
        {% else %}
        <div class="direction-r">
        {% endif %}
          <div class="flag-wrapper">
            <span class="flag">{{ exp.place }}</span>
            <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
          </div>
          <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
        </div>
      </li>
      {% endfor %}
    </ul>


  </div> -->
