---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="about">
  <h4>About</h4>
    <p>
        Hello, welcome to visit my site! 👋
    </p>
    <p>
        I am currently a 2-nd year M.Sc. student in the Department of Computer Science at <a href="https://www.uva.nl/en" target="_blank"> University of Amsterdam </a> and <a href="https://vu.nl/en" target="_blank"> Vrije University Amsterdam </a>. My research interests lie primarily in the area of <code class="language-plaintext highlighter-rouge"> AI X Linguistics</code>, such as Natural Language Processing, Understanding and Generation.
    </p>
    <p>
        Currently, I am completing my master thesis under the supervision of <a href="https://staff.fnwi.uva.nl/k.simaan/" target="_blank"> Prof. Khalil Sima'an</a> at the <a href="https://www.illc.uva.nl/" target="_blank">Institute for Logic, Language and Computation</a>, <a href="https://www.uva.nl/en" target="_blank">University of Amsterdam</a>. The research topic of my master thesis is how to incorporate dependency forest structure to help the (self-) attention mechanism in the Transformer-based model to better pay attention to the syntax relationship between the tokens of the input sentences in the <a href="https://en.wikipedia.org/wiki/Neural_machine_translation" target="_blank">Neural Machine Translation (NMT)</a> tasks.
    </p>
    <p>
        In my free time, I enjoy doing sports (mostly jogging 🏃 and table tennis 🏓 ), traveling, and cooking 🥢  with friends and family. I am very good at cooking Chinese food. Also, I used to be a writer, I like to write poems, novels and lyrics for songs, feel free to click <a href="https://music.163.com/#/song?id=506719925" target="_blank">here</a> to listen to the songs I wrote.
    </p>
</div>

<!-- ========== Education========== -->
<div class="docs-section" id="education">
    <h4>Education</h4>
        
          <div class="paper">
            <p class="title"><b>University of Amsterdam <b style="float:right;">Feb. 2020 - Present </b></b></p>
            <p>M.Sc. Student, Computer Science</p>
            <p></p>
          </div>

          <div class="paper">
            <p class="title"><b>Vrije University Amsterdam <b style="float:right;">Feb. 2020 - Present </b></b></p>
            <p>M.Sc. Student, Computer Science</p>
            <p></p>
          </div>
        
          <div class="paper">
            <p class="title"><b>Central China Normal University <b style="float:right;">Sep. 2015 - Jul. 2019 </b></b></p>
            <p>B.Eng. Student, Software Engineering</p>
            <p></p>
          </div>
        
          <div class="paper">
            <p class="title"><b>National Tsing Hua University <b style="float:right;">Sep. 2018 - Jan. 2019 </b></b></p>
            <p>Exchange Student, Computer Science</p>
            <p></p>
          </div>
        
  </div>


<!-- ========== Experience========== -->
<div class="docs-section" id="experience">
    <h4>Experience</h4>
          <div class="paper">
            <p class="title"><b>University of Amsterdam <b style="float:right;">Jul. 2021 - Present </b></b></p>  
            <p>Master Thesis Student</p>
          </div>
        
          <div class="paper">
            <p class="title"><b>Volkswagen Group China <b style="float:right;">Jan. 2021 - Aug. 2021 </b></b></p> 
            <p>NLP Intern, R&D and AI Department</p>
          </div> 

          <div class="paper">
            <p class="title"><b>Vrije Universiteit Amsterdam <b style="float:right;">Jun. 2021 - Jul. 2021 </b></b></p> 
            <p>Teaching Assistant</p>
          </div> 
  </div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

 <!-- ========== PROJECTS ==========  -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>



